* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

* :hover {
    text-decoration: none;
}

@font-face {
    font-family: "MontaguSlab";
    src: url('fonts/MontaguSlab_36pt-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: "MontaguSlab";
    src: url('fonts/MontaguSlab_36pt-Medium.woff2');
    font-weight: 500;
}

@font-face {
    font-family: "MontaguSlab";
    src: url('fonts/MontaguSlab_36pt-SemiBold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: "ShantellSans";
    src: url('fonts/ShantellSans-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: "ShantellSans";
    src: url('fonts/ShantellSans-Medium.woff2');
    font-weight: 500;
}

@font-face {
    font-family: "ShantellSans";
    src: url('fonts/ShantellSans-Bold.woff2');
    font-weight: 700;
}

body *{
    font-family:"ShantellSans";
    font-weight: 500;
    color: #622b87;
    }

body{
    overflow-x: hidden;
}

a {
    color:#622b87;
}

a:hover,
a:focus-visible {
    color: #2c64d3;
}

a:active {
    color: #411C59;
}

.header{
    position: fixed;
    width: 100%;
    background-color: #7194d9a4;
    z-index: 25;
    
}

.header-inner{
    display: flex;
    align-items: center;
    padding: 10px 60px;
    font-size: 18px;
}

.burger-menu{
    width: 30px;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.burger-s, 
.burger-s::before,
 .burger-s::after{
    height: 3px;
    width: 100%;
    border-radius: 50px;
    border-color: #622b87;
}

.burger-s::before,
.burger-s::after{
    content: "";
    position: absolute;
    left: 0;
}

.burger-s::before{
    top: 5px;
    width: 70%;
}

.burger-s::after{
    bottom: 5px;
    width: 40%;
}

nav{
    display: flex;
    width: 100%;
    gap: 25px;
    flex-grow: 1;
    justify-content: center;
    align-items: flex-end;
    height: 10px;
}

nav a {
    position: relative;
    line-height: 20px;
}

main{
    padding-top: 145.6px;
    background-color:#C6B4D9;
}

.nav-item::after {
    content: "";
    display: block;
    border-bottom: 2px solid #2c64d3;
    position: absolute;
    width: 100%;
    bottom: -12px;
    padding-top: 5px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .5s cubic-bezier(.19, .43, .37, 1);
  }

  .nav-item:hover::after {
    transform: scaleX(1);
    transition: transform .5s cubic-bezier(.19, .43, .37, 1);
  }



.hero-shot{
height: calc(100vh - 73px);
background-image: url(images/hero-shot-m.jpg);
background-repeat: no-repeat;
background-size: cover;
padding-top: 200px;
padding-bottom: 200px;
display: flex;
align-items: left;
flex-direction: column;
justify-content: start;
position: relative;
}


.title{
    font-weight: 500;
    max-width: 60%;
    font-size: 40px;
    margin-left: 60px;
    letter-spacing: 1px;
}

.hero-shot p {
    font-size: 20px;
    max-width: 70%;
    margin-left: 30px;
  }

  .max-width {
    max-width: 100vw;
    margin: 0 auto;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    row-gap: 20px;
    justify-content: center;
}

.container h2 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 30px;
    color: #411C59;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
  }

  .container p {
    padding-bottom: 15px;
    font-size: 18px;
    text-align: center;
  }

  /* .my-post{
    padding: 50px;
  } */
  
  .max-width {
    max-width: 80vw;
    margin: 0 auto;
    padding: 20px 0;
    width: 80%;
    height: auto;
  }

  .post-info{
    text-align: center;
    margin-top: 130px;
  }

.post-img{
  width: 90%;
  height: auto;
}

/* footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #7194d9a4;;
    text-align: center;
    font-family: "MontaguSlab";
    font-weight: 700;
} */
 footer{
    background-color: #7194d9a4;
 }
 .footer-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px 0;
 }

 .copyright {
    text-align: center;
    margin-top: 15px;
  }

  @media(min-width: 1024px){
    .burger-menu{
        display: none;
    }
  }
  
  @media (max-width: 1024px){
    .max-width {
        max-width: 100vw;
        height: auto;
      }

      .hero-shot{
        width: 100%;
        height: auto;
      }
      
      .burger-menu {
        margin: 5px 20px;
        margin-right: 0;
      }

      nav {
        position: fixed;
        height: 100dvh;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform .5s cubic-bezier(0.19, 0.43, 0.37, 1);
        max-width: 350px;
        right: 0;
        top: 0;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: #FAF5E2;
        z-index: 17;
        padding: 50px 10px;
      }

      .js-nav {
        transform: translateX(0);
        transition: transform .5s cubic-bezier(0.19, 0.43, 0.37, 1);
      }
     
      .footer-container {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
      }

      .container{
        gap: 20px;
        justify-items: center;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
      }

      .post-info{
        padding: 0 20px;
       
      }
  }

 @media (max-width: 768px){
    .container{
        display:block;
        text-align: center;
    }

 .container p{
  font-size: 25px;
 }
 }